// DDS.EXE's resource script, in the original's resource order. The payload
// files are not source: giten.rsrc.payloads writes them from the original
// executable into build/gen/rsrc, which the rc edge puts on the include path.

#include <Win32.h>

#include <Giten/Resource.h>

LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT

IDB_BITMAP1                BITMAP "bitmap_0101.bmp"
IDB_BITMAP2                BITMAP "bitmap_0102.bmp"
IDB_BITMAP3                BITMAP "bitmap_0103.bmp"
IDB_BITMAP4                BITMAP "bitmap_0104.bmp"
IDB_BITMAP5                BITMAP "bitmap_0106.bmp"
IDB_BITMAP6                BITMAP "bitmap_0107.bmp"
IDB_BITMAP7                BITMAP "bitmap_0108.bmp"
IDB_BITMAP8                BITMAP "bitmap_0109.bmp"
IDB_BITMAP19               BITMAP "bitmap_0169.bmp"
IDB_BITMAP20               BITMAP "bitmap_0170.bmp"
IDB_BITMAP21               BITMAP "bitmap_0171.bmp"
IDB_BITMAP22               BITMAP "bitmap_0172.bmp"
IDB_BITMAP23               BITMAP "bitmap_0173.bmp"
IDB_BITMAP24               BITMAP "bitmap_0174.bmp"
IDB_BITMAP25               BITMAP "bitmap_0175.bmp"
IDB_BITMAP26               BITMAP "bitmap_0176.bmp"
IDB_BITMAP27               BITMAP "bitmap_0181.bmp"
IDB_BITMAP28               BITMAP "bitmap_0182.bmp"
IDB_BITMAP29               BITMAP "bitmap_0219.bmp"
IDB_BITMAP30               BITMAP "bitmap_0220.bmp"
IDB_BITMAP31               BITMAP "bitmap_0221.bmp"
IDB_BITMAP32               BITMAP "bitmap_0222.bmp"
IDB_BITMAP33               BITMAP "bitmap_0223.bmp"
IDB_BITMAP34               BITMAP "bitmap_0225.bmp"
IDB_BITMAP35               BITMAP "bitmap_0226.bmp"
IDB_BITMAP36               BITMAP "bitmap_0227.bmp"
IDB_BITMAP37               BITMAP "bitmap_0228.bmp"
IDB_BITMAP38               BITMAP "bitmap_0229.bmp"
IDB_BITMAP39               BITMAP "bitmap_0230.bmp"
IDB_BITMAP40               BITMAP "bitmap_0231.bmp"
IDB_BITMAP41               BITMAP "bitmap_0234.bmp"
IDB_BITMAP42               BITMAP "bitmap_0235.bmp"
IDB_BITMAP43               BITMAP "bitmap_0237.bmp"
IDB_BITMAP44               BITMAP "bitmap_0238.bmp"
IDB_BITMAP45               BITMAP "bitmap_0241.bmp"
IDB_BITMAP46               BITMAP "bitmap_0242.bmp"
IDB_BITMAP47               BITMAP "bitmap_0243.bmp"
IDB_BITMAP48               BITMAP "bitmap_0244.bmp"
IDB_BITMAP49               BITMAP "bitmap_0245.bmp"
IDB_MAP_MARKER_PARTY       BITMAP "bitmap_0246.bmp"
IDB_MAP_MARKER_COLOR0      BITMAP "bitmap_0247.bmp"
IDB_MAP_MARKER_COLOR2      BITMAP "bitmap_0248.bmp"
IDB_MAP_MARKER_COLOR3      BITMAP "bitmap_0249.bmp"
IDB_MAP_MARKER_COLOR1      BITMAP "bitmap_0250.bmp"
IDB_ANALYZE_NAME_EXPLORING BITMAP "bitmap_0279.bmp"
IDB_BITMAP56               BITMAP "bitmap_0280.bmp"
IDB_BITMAP57               BITMAP "bitmap_0281.bmp"
IDB_BITMAP58               BITMAP "bitmap_0282.bmp"
IDB_BITMAP59               BITMAP "bitmap_0283.bmp"
IDB_BITMAP60               BITMAP "bitmap_0284.bmp"
IDB_BITMAP61               BITMAP "bitmap_0285.bmp"
IDB_BITMAP62               BITMAP "bitmap_0286.bmp"
IDB_BITMAP63               BITMAP "bitmap_0287.bmp"
IDB_BITMAP64               BITMAP "bitmap_0288.bmp"
IDB_BITMAP65               BITMAP "bitmap_0289.bmp"
IDB_BITMAP66               BITMAP "bitmap_0290.bmp"
IDB_BITMAP67               BITMAP "bitmap_0291.bmp"
IDB_BITMAP68               BITMAP "bitmap_0292.bmp"
IDB_BITMAP69               BITMAP "bitmap_0299.bmp"
IDB_BITMAP70               BITMAP "bitmap_0300.bmp"
IDB_BITMAP71               BITMAP "bitmap_0301.bmp"
IDB_BITMAP72               BITMAP "bitmap_0302.bmp"
IDB_BITMAP73               BITMAP "bitmap_0303.bmp"
IDB_BITMAP74               BITMAP "bitmap_0304.bmp"
IDB_BITMAP75               BITMAP "bitmap_0305.bmp"
IDB_BITMAP76               BITMAP "bitmap_0306.bmp"
IDB_BITMAP77               BITMAP "bitmap_0307.bmp"
IDB_BITMAP78               BITMAP "bitmap_0308.bmp"
IDB_BITMAP79               BITMAP "bitmap_0309.bmp"
IDB_BITMAP80               BITMAP "bitmap_0310.bmp"
IDB_BITMAP81               BITMAP "bitmap_0311.bmp"
IDB_BITMAP82               BITMAP "bitmap_0312.bmp"
IDB_BITMAP83               BITMAP "bitmap_0313.bmp"
IDB_BITMAP84               BITMAP "bitmap_0314.bmp"
IDB_BITMAP85               BITMAP "bitmap_0315.bmp"
IDB_BITMAP86               BITMAP "bitmap_0316.bmp"
IDB_BITMAP87               BITMAP "bitmap_0317.bmp"
IDB_BITMAP88               BITMAP "bitmap_0318.bmp"
IDB_BITMAP89               BITMAP "bitmap_0319.bmp"
IDB_BITMAP90               BITMAP "bitmap_0320.bmp"
IDB_BITMAP91               BITMAP "bitmap_0321.bmp"
IDB_BITMAP92               BITMAP "bitmap_0322.bmp"
IDB_BITMAP93               BITMAP "bitmap_0323.bmp"
IDB_BITMAP94               BITMAP "bitmap_0324.bmp"
IDB_BITMAP95               BITMAP "bitmap_0325.bmp"
IDB_BITMAP96               BITMAP "bitmap_0326.bmp"
IDB_BITMAP97               BITMAP "bitmap_0327.bmp"
IDB_BITMAP98               BITMAP "bitmap_0328.bmp"
IDB_BITMAP99               BITMAP "bitmap_0329.bmp"
IDB_BITMAP100              BITMAP "bitmap_0330.bmp"
IDB_BITMAP101              BITMAP "bitmap_0331.bmp"
IDB_BITMAP102              BITMAP "bitmap_0332.bmp"
IDB_BITMAP103              BITMAP "bitmap_0333.bmp"
IDB_BITMAP104              BITMAP "bitmap_0334.bmp"
IDB_BITMAP105              BITMAP "bitmap_0335.bmp"
IDB_BITMAP106              BITMAP "bitmap_0336.bmp"
IDB_BITMAP107              BITMAP "bitmap_0338.bmp"
IDB_BITMAP108              BITMAP "bitmap_0339.bmp"
IDB_BITMAP109              BITMAP "bitmap_0340.bmp"
IDB_BITMAP110              BITMAP "bitmap_0341.bmp"
IDB_BITMAP111              BITMAP "bitmap_0342.bmp"
IDB_BITMAP112              BITMAP "bitmap_0343.bmp"
IDB_BITMAP113              BITMAP "bitmap_0344.bmp"
IDB_BITMAP114              BITMAP "bitmap_0345.bmp"
IDB_BITMAP115              BITMAP "bitmap_0346.bmp"
IDB_BITMAP116              BITMAP "bitmap_0347.bmp"
IDB_BITMAP117              BITMAP "bitmap_0348.bmp"
IDB_BITMAP118              BITMAP "bitmap_0349.bmp"
IDB_BITMAP119              BITMAP "bitmap_0350.bmp"
IDB_BITMAP120              BITMAP "bitmap_0351.bmp"
IDB_BITMAP121              BITMAP "bitmap_0352.bmp"
IDB_BITMAP122              BITMAP "bitmap_0353.bmp"
IDB_BITMAP123              BITMAP "bitmap_0354.bmp"
IDB_BITMAP124              BITMAP "bitmap_0355.bmp"
IDB_BITMAP125              BITMAP "bitmap_0356.bmp"
IDB_BITMAP126              BITMAP "bitmap_0357.bmp"
IDB_BITMAP127              BITMAP "bitmap_0358.bmp"
IDB_BITMAP128              BITMAP "bitmap_0364.bmp"
IDB_BITMAP129              BITMAP "bitmap_0366.bmp"
IDB_BITMAP130              BITMAP "bitmap_0367.bmp"
IDB_BITMAP131              BITMAP "bitmap_0368.bmp"
IDB_BITMAP132              BITMAP "bitmap_0369.bmp"
IDB_BITMAP133              BITMAP "bitmap_0370.bmp"
IDB_BITMAP134              BITMAP "bitmap_0371.bmp"
IDB_BITMAP135              BITMAP "bitmap_0372.bmp"
IDB_BITMAP136              BITMAP "bitmap_0373.bmp"
IDB_BITMAP137              BITMAP "bitmap_0374.bmp"
IDB_BITMAP138              BITMAP "bitmap_0375.bmp"
IDB_BITMAP139              BITMAP "bitmap_0376.bmp"
IDB_BITMAP140              BITMAP "bitmap_0377.bmp"
IDB_BITMAP141              BITMAP "bitmap_0378.bmp"
IDB_BITMAP142              BITMAP "bitmap_0379.bmp"
IDB_BITMAP143              BITMAP "bitmap_0380.bmp"
IDB_BITMAP144              BITMAP "bitmap_0381.bmp"
IDB_BITMAP145              BITMAP "bitmap_0382.bmp"
IDB_BITMAP14               BITMAP "bitmap_0119.bmp"
IDB_BITMAP15               BITMAP "bitmap_0120.bmp"
IDB_BITMAP146              BITMAP "bitmap_0475.bmp"
IDB_BITMAP147              BITMAP "bitmap_0476.bmp"
IDB_BITMAP148              BITMAP "bitmap_0477.bmp"
IDB_BITMAP149              BITMAP "bitmap_0478.bmp"
IDB_BITMAP150              BITMAP "bitmap_0479.bmp"
IDB_BITMAP151              BITMAP "bitmap_0480.bmp"
IDB_BITMAP152              BITMAP "bitmap_0481.bmp"
IDB_BITMAP153              BITMAP "bitmap_0482.bmp"
IDB_BITMAP154              BITMAP "bitmap_0483.bmp"
IDB_BITMAP155              BITMAP "bitmap_0484.bmp"
IDB_BITMAP156              BITMAP "bitmap_0485.bmp"
IDB_BITMAP157              BITMAP "bitmap_0486.bmp"
IDB_BITMAP158              BITMAP "bitmap_0487.bmp"
IDB_BITMAP159              BITMAP "bitmap_0488.bmp"
IDB_BITMAP160              BITMAP "bitmap_0489.bmp"
IDB_BITMAP161              BITMAP "bitmap_0490.bmp"
IDB_BITMAP162              BITMAP "bitmap_0491.bmp"
IDB_BITMAP163              BITMAP "bitmap_0492.bmp"
IDB_BITMAP164              BITMAP "bitmap_0493.bmp"
IDB_BITMAP165              BITMAP "bitmap_0494.bmp"
IDB_BITMAP166              BITMAP "bitmap_0495.bmp"
IDB_BITMAP167              BITMAP "bitmap_0496.bmp"
IDB_BITMAP168              BITMAP "bitmap_0497.bmp"
IDB_BITMAP169              BITMAP "bitmap_0498.bmp"
IDB_BITMAP170              BITMAP "bitmap_0499.bmp"
IDB_BITMAP171              BITMAP "bitmap_0500.bmp"
IDB_BITMAP11               BITMAP "bitmap_0112.bmp"
IDB_BITMAP12               BITMAP "bitmap_0113.bmp"
IDB_BITMAP172              BITMAP "bitmap_0503.bmp"
IDB_BITMAP173              BITMAP "bitmap_0504.bmp"
IDB_BITMAP176              BITMAP "bitmap_0507.bmp"
IDB_BITMAP177              BITMAP "bitmap_0508.bmp"
IDB_BITMAP178              BITMAP "bitmap_0509.bmp"
IDB_BITMAP179              BITMAP "bitmap_0510.bmp"
IDB_BITMAP16               BITMAP "bitmap_0121.bmp"
IDB_BITMAP17               BITMAP "bitmap_0122.bmp"
IDB_BITMAP13               BITMAP "bitmap_0117.bmp"
IDB_BITMAP181              BITMAP "bitmap_0515.bmp"
IDB_BITMAP182              BITMAP "bitmap_0516.bmp"
IDB_BITMAP183              BITMAP "bitmap_0517.bmp"
IDB_BITMAP184              BITMAP "bitmap_0518.bmp"
IDB_BITMAP185              BITMAP "bitmap_0519.bmp"
IDB_BITMAP186              BITMAP "bitmap_0520.bmp"
IDB_BITMAP187              BITMAP "bitmap_0521.bmp"
IDB_BITMAP18               BITMAP "bitmap_0123.bmp"
IDB_BITMAP188              BITMAP "bitmap_0524.bmp"
IDB_BITMAP189              BITMAP "bitmap_0525.bmp"
IDB_BITMAP190              BITMAP "bitmap_0526.bmp"
IDB_BITMAP191              BITMAP "bitmap_0527.bmp"
IDB_BITMAP192              BITMAP "bitmap_0528.bmp"
IDB_BITMAP193              BITMAP "bitmap_0529.bmp"
IDB_BITMAP194              BITMAP "bitmap_0530.bmp"
IDB_BITMAP195              BITMAP "bitmap_0531.bmp"
IDB_BITMAP196              BITMAP "bitmap_0532.bmp"
IDB_BITMAP197              BITMAP "bitmap_0533.bmp"
IDB_BITMAP198              BITMAP "bitmap_0534.bmp"
IDB_BITMAP199              BITMAP "bitmap_0535.bmp"
IDB_BITMAP200              BITMAP "bitmap_0536.bmp"
IDB_BITMAP201              BITMAP "bitmap_0537.bmp"
IDB_BITMAP202              BITMAP "bitmap_0538.bmp"
IDB_BITMAP203              BITMAP "bitmap_0539.bmp"
IDB_BITMAP204              BITMAP "bitmap_0540.bmp"
IDB_BITMAP205              BITMAP "bitmap_0541.bmp"
IDB_BITMAP206              BITMAP "bitmap_0542.bmp"
IDB_BITMAP207              BITMAP "bitmap_0543.bmp"
IDB_BITMAP208              BITMAP "bitmap_0544.bmp"
IDB_BITMAP209              BITMAP "bitmap_0545.bmp"
IDB_BITMAP210              BITMAP "bitmap_0546.bmp"
IDB_BITMAP211              BITMAP "bitmap_0547.bmp"
IDB_BITMAP212              BITMAP "bitmap_0548.bmp"
IDB_BITMAP213              BITMAP "bitmap_0549.bmp"
IDB_BITMAP214              BITMAP "bitmap_0550.bmp"
IDB_BITMAP215              BITMAP "bitmap_0551.bmp"
IDB_BITMAP216              BITMAP "bitmap_0552.bmp"
IDB_BITMAP217              BITMAP "bitmap_0553.bmp"
IDB_BITMAP218              BITMAP "bitmap_0554.bmp"
IDB_BITMAP219              BITMAP "bitmap_0555.bmp"
IDB_BITMAP220              BITMAP "bitmap_0556.bmp"
IDB_BITMAP221              BITMAP "bitmap_0557.bmp"
IDB_BITMAP222              BITMAP "bitmap_0558.bmp"
IDB_BITMAP223              BITMAP "bitmap_0559.bmp"
IDB_BITMAP224              BITMAP "bitmap_0560.bmp"
IDB_BITMAP225              BITMAP "bitmap_0561.bmp"
IDB_BITMAP226              BITMAP "bitmap_0562.bmp"
IDB_BITMAP227              BITMAP "bitmap_0563.bmp"
IDB_BITMAP228              BITMAP "bitmap_0564.bmp"
IDB_BITMAP229              BITMAP "bitmap_0565.bmp"
IDB_BITMAP230              BITMAP "bitmap_0566.bmp"
IDB_BITMAP231              BITMAP "bitmap_0567.bmp"
IDB_BITMAP232              BITMAP "bitmap_0568.bmp"
IDB_BITMAP233              BITMAP "bitmap_0569.bmp"
IDB_BITMAP234              BITMAP "bitmap_0570.bmp"
IDB_BITMAP235              BITMAP "bitmap_0571.bmp"
IDB_BITMAP236              BITMAP "bitmap_0572.bmp"
IDB_BITMAP237              BITMAP "bitmap_0573.bmp"
IDB_BITMAP238              BITMAP "bitmap_0574.bmp"
IDB_BITMAP239              BITMAP "bitmap_0575.bmp"
IDB_BITMAP240              BITMAP "bitmap_0576.bmp"
IDB_BITMAP241              BITMAP "bitmap_0577.bmp"
IDB_BITMAP242              BITMAP "bitmap_0578.bmp"
IDB_BITMAP243              BITMAP "bitmap_0579.bmp"
IDB_BITMAP244              BITMAP "bitmap_0580.bmp"
IDB_BITMAP245              BITMAP "bitmap_0581.bmp"
IDB_BITMAP246              BITMAP "bitmap_0582.bmp"
IDB_BITMAP247              BITMAP "bitmap_0583.bmp"
IDB_BITMAP248              BITMAP "bitmap_0584.bmp"
IDB_BITMAP249              BITMAP "bitmap_0585.bmp"
IDB_BITMAP250              BITMAP "bitmap_0586.bmp"
IDB_BITMAP251              BITMAP "bitmap_0587.bmp"
IDB_BITMAP252              BITMAP "bitmap_0588.bmp"
IDB_BITMAP253              BITMAP "bitmap_0589.bmp"
IDB_BITMAP254              BITMAP "bitmap_0590.bmp"
IDB_BITMAP255              BITMAP "bitmap_0591.bmp"
IDB_BITMAP256              BITMAP "bitmap_0592.bmp"
IDB_BITMAP257              BITMAP "bitmap_0593.bmp"
IDB_BITMAP258              BITMAP "bitmap_0594.bmp"
IDB_BITMAP259              BITMAP "bitmap_0595.bmp"
IDB_BITMAP260              BITMAP "bitmap_0596.bmp"
IDB_BITMAP261              BITMAP "bitmap_0597.bmp"
IDB_BITMAP262              BITMAP "bitmap_0598.bmp"
IDB_BITMAP263              BITMAP "bitmap_0599.bmp"
IDB_BITMAP264              BITMAP "bitmap_0600.bmp"
IDB_BITMAP265              BITMAP "bitmap_0601.bmp"
IDB_BITMAP266              BITMAP "bitmap_0602.bmp"
IDB_BITMAP267              BITMAP "bitmap_0603.bmp"
IDB_BITMAP268              BITMAP "bitmap_0604.bmp"
IDB_BITMAP269              BITMAP "bitmap_0605.bmp"
IDB_BITMAP270              BITMAP "bitmap_0606.bmp"
IDB_BITMAP271              BITMAP "bitmap_0607.bmp"
IDB_BITMAP272              BITMAP "bitmap_0608.bmp"
IDB_BITMAP273              BITMAP "bitmap_0609.bmp"
IDB_BITMAP274              BITMAP "bitmap_0610.bmp"
IDB_BITMAP275              BITMAP "bitmap_0611.bmp"
IDB_BITMAP276              BITMAP "bitmap_0612.bmp"
IDB_BITMAP277              BITMAP "bitmap_0613.bmp"
IDB_BITMAP278              BITMAP "bitmap_0614.bmp"
IDB_BITMAP279              BITMAP "bitmap_0615.bmp"
IDB_BITMAP280              BITMAP "bitmap_0616.bmp"
IDB_BITMAP281              BITMAP "bitmap_0617.bmp"
IDB_BITMAP282              BITMAP "bitmap_0618.bmp"
IDB_BITMAP283              BITMAP "bitmap_0619.bmp"
IDB_BITMAP284              BITMAP "bitmap_0620.bmp"
IDB_BITMAP285              BITMAP "bitmap_0621.bmp"
IDB_BITMAP286              BITMAP "bitmap_0623.bmp"
IDB_BITMAP287              BITMAP "bitmap_0624.bmp"
IDB_BITMAP288              BITMAP "bitmap_0625.bmp"
IDB_BITMAP289              BITMAP "bitmap_0626.bmp"
IDB_BITMAP290              BITMAP "bitmap_0627.bmp"
IDB_BITMAP291              BITMAP "bitmap_0628.bmp"
IDB_BITMAP292              BITMAP "bitmap_0629.bmp"
IDB_BITMAP293              BITMAP "bitmap_0630.bmp"
IDB_BITMAP294              BITMAP "bitmap_0631.bmp"
IDB_BITMAP295              BITMAP "bitmap_0632.bmp"
IDB_BITMAP296              BITMAP "bitmap_0633.bmp"
IDB_BITMAP297              BITMAP "bitmap_0634.bmp"
IDB_BITMAP298              BITMAP "bitmap_0635.bmp"
IDB_BITMAP299              BITMAP "bitmap_0636.bmp"
IDB_BITMAP300              BITMAP "bitmap_0637.bmp"
IDB_BITMAP301              BITMAP "bitmap_0638.bmp"
IDB_BITMAP302              BITMAP "bitmap_0639.bmp"
IDB_BITMAP303              BITMAP "bitmap_0640.bmp"
IDB_BITMAP304              BITMAP "bitmap_0641.bmp"
IDB_BITMAP305              BITMAP "bitmap_0642.bmp"
IDB_BITMAP306              BITMAP "bitmap_0643.bmp"
IDB_BITMAP307              BITMAP "bitmap_0644.bmp"
IDB_BITMAP308              BITMAP "bitmap_0645.bmp"
IDB_BITMAP309              BITMAP "bitmap_0646.bmp"
IDB_BITMAP310              BITMAP "bitmap_0647.bmp"
IDB_BITMAP311              BITMAP "bitmap_0648.bmp"
IDB_BITMAP312              BITMAP "bitmap_0649.bmp"
IDB_BITMAP313              BITMAP "bitmap_0650.bmp"
IDB_BITMAP10               BITMAP "bitmap_0111.bmp"
IDB_BITMAP314              BITMAP "bitmap_0652.bmp"
IDB_BITMAP315              BITMAP "bitmap_0653.bmp"
IDB_BITMAP316              BITMAP "bitmap_0654.bmp"
IDB_BITMAP317              BITMAP "bitmap_0655.bmp"
IDB_BITMAP318              BITMAP "bitmap_0656.bmp"
IDB_BITMAP319              BITMAP "bitmap_0657.bmp"
IDB_BITMAP320              BITMAP "bitmap_0658.bmp"
IDB_BITMAP321              BITMAP "bitmap_0659.bmp"
IDB_BITMAP322              BITMAP "bitmap_0660.bmp"
IDB_BITMAP323              BITMAP "bitmap_0661.bmp"
IDB_BITMAP324              BITMAP "bitmap_0662.bmp"
IDB_BITMAP325              BITMAP "bitmap_0663.bmp"
IDB_BITMAP9                BITMAP "bitmap_0110.bmp"
IDB_BITMAP326              BITMAP "bitmap_0665.bmp"
IDB_BITMAP327              BITMAP "bitmap_0666.bmp"
IDB_BITMAP328              BITMAP "bitmap_0667.bmp"
IDB_BITMAP329              BITMAP "bitmap_0668.bmp"
IDB_BITMAP330              BITMAP "bitmap_0669.bmp"
IDB_BITMAP331              BITMAP "bitmap_0671.bmp"
IDB_CURSOR_IMAGE           BITMAP "bitmap_0693.bmp"
IDB_BUSY_CURSOR_IMAGE      BITMAP "bitmap_0694.bmp"
IDB_BITMAP334              BITMAP "bitmap_0695.bmp"
IDB_BITMAP335              BITMAP "bitmap_0696.bmp"
IDB_BITMAP336              BITMAP "bitmap_0697.bmp"
IDB_BITMAP337              BITMAP "bitmap_0698.bmp"
IDB_BITMAP338              BITMAP "bitmap_0699.bmp"
IDB_BITMAP339              BITMAP "bitmap_0700.bmp"
IDB_BITMAP340              BITMAP "bitmap_0701.bmp"
IDB_BITMAP341              BITMAP "bitmap_0702.bmp"
IDB_BITMAP342              BITMAP "bitmap_0703.bmp"
IDB_BITMAP343              BITMAP "bitmap_0704.bmp"
IDB_BITMAP344              BITMAP "bitmap_0705.bmp"
IDB_BITMAP345              BITMAP "bitmap_0706.bmp"
IDB_BITMAP346              BITMAP "bitmap_0711.bmp"
IDB_BITMAP174              BITMAP "bitmap_0505.bmp"
IDB_BITMAP175              BITMAP "bitmap_0506.bmp"
IDB_BITMAP180              BITMAP "bitmap_0511.bmp"

IDC_CURSOR1                CURSOR "cursor_0178.cur"
IDC_CURSOR2                CURSOR "cursor_0179.cur"

IDR_SOUND_1                WAVE   "wave_0383.wav"
IDR_SOUND_2                WAVE   "wave_0384.wav"
IDR_SOUND_3                WAVE   "wave_0385.wav"
IDR_SOUND_4                WAVE   "wave_0386.wav"
IDR_SOUND_5                WAVE   "wave_0387.wav"
IDR_SOUND_6                WAVE   "wave_0388.wav"
IDR_SOUND_7                WAVE   "wave_0389.wav"
IDR_SOUND_8                WAVE   "wave_0390.wav"
IDR_SOUND_9                WAVE   "wave_0392.wav"
IDR_SOUND_10               WAVE   "wave_0393.wav"
IDR_SOUND_11               WAVE   "wave_0394.wav"
IDR_SOUND_13               WAVE   "wave_0395.wav"
IDR_SOUND_14               WAVE   "wave_0396.wav"
IDR_SOUND_15               WAVE   "wave_0397.wav"
IDR_SOUND_16               WAVE   "wave_0398.wav"
IDR_SOUND_17               WAVE   "wave_0399.wav"
IDR_SOUND_19               WAVE   "wave_0400.wav"
IDR_SOUND_20               WAVE   "wave_0401.wav"
IDR_SOUND_22               WAVE   "wave_0402.wav"
IDR_SOUND_23               WAVE   "wave_0403.wav"
IDR_SOUND_25               WAVE   "wave_0404.wav"
IDR_SOUND_26               WAVE   "wave_0405.wav"
IDR_SOUND_28               WAVE   "wave_0406.wav"
IDR_SOUND_30               WAVE   "wave_0408.wav"
IDR_SOUND_31               WAVE   "wave_0409.wav"
IDR_SOUND_32               WAVE   "wave_0410.wav"
IDR_SOUND_33               WAVE   "wave_0411.wav"
IDR_SOUND_34               WAVE   "wave_0412.wav"
IDR_SOUND_35               WAVE   "wave_0413.wav"
IDR_SOUND_36               WAVE   "wave_0414.wav"
IDR_SOUND_38               WAVE   "wave_0415.wav"
IDR_SOUND_39               WAVE   "wave_0416.wav"
IDR_SOUND_40               WAVE   "wave_0417.wav"
IDR_SOUND_41               WAVE   "wave_0418.wav"
IDR_SOUND_42               WAVE   "wave_0419.wav"
IDR_SOUND_43               WAVE   "wave_0420.wav"
IDR_SOUND_44               WAVE   "wave_0421.wav"
IDR_SOUND_45               WAVE   "wave_0422.wav"
IDR_SOUND_46               WAVE   "wave_0423.wav"
IDR_SOUND_47               WAVE   "wave_0424.wav"
IDR_SOUND_48               WAVE   "wave_0425.wav"
IDR_SOUND_49               WAVE   "wave_0426.wav"
IDR_SOUND_50               WAVE   "wave_0427.wav"
IDR_SOUND_51               WAVE   "wave_0428.wav"
IDR_SOUND_52               WAVE   "wave_0429.wav"
IDR_SOUND_53               WAVE   "wave_0430.wav"
IDR_SOUND_54               WAVE   "wave_0431.wav"
IDR_SOUND_55               WAVE   "wave_0432.wav"
IDR_SOUND_57               WAVE   "wave_0433.wav"
IDR_SOUND_58               WAVE   "wave_0434.wav"
IDR_SOUND_59               WAVE   "wave_0435.wav"
IDR_SOUND_60               WAVE   "wave_0436.wav"
IDR_SOUND_61               WAVE   "wave_0437.wav"
IDR_SOUND_62               WAVE   "wave_0438.wav"
IDR_SOUND_63               WAVE   "wave_0439.wav"
IDR_SOUND_64               WAVE   "wave_0440.wav"
IDR_SOUND_65               WAVE   "wave_0441.wav"
IDR_SOUND_66               WAVE   "wave_0442.wav"
IDR_SOUND_67               WAVE   "wave_0443.wav"
IDR_SOUND_77               WAVE   "wave_0444.wav"
IDR_SOUND_78               WAVE   "wave_0445.wav"
IDR_SOUND_79               WAVE   "wave_0446.wav"
IDR_SOUND_80               WAVE   "wave_0447.wav"
IDR_SOUND_81               WAVE   "wave_0448.wav"
IDR_SOUND_82               WAVE   "wave_0449.wav"
IDR_SOUND_83               WAVE   "wave_0450.wav"
IDR_SOUND_85               WAVE   "wave_0451.wav"
IDR_SOUND_86               WAVE   "wave_0452.wav"
IDR_SOUND_87               WAVE   "wave_0453.wav"
IDR_SOUND_88               WAVE   "wave_0454.wav"
IDR_SOUND_89               WAVE   "wave_0455.wav"
IDR_SOUND_90               WAVE   "wave_0456.wav"
IDR_SOUND_92               WAVE   "wave_0457.wav"
IDR_SOUND_93               WAVE   "wave_0458.wav"
IDR_SOUND_94               WAVE   "wave_0459.wav"
IDR_SOUND_95               WAVE   "wave_0460.wav"
IDR_SOUND_96               WAVE   "wave_0461.wav"
IDR_SOUND_97               WAVE   "wave_0462.wav"
IDR_SOUND_98               WAVE   "wave_0463.wav"
IDR_SOUND_99               WAVE   "wave_0464.wav"
IDR_SOUND_100              WAVE   "wave_0465.wav"
IDR_SOUND_101              WAVE   "wave_0466.wav"
IDR_SOUND_102              WAVE   "wave_0467.wav"
IDR_SOUND_103              WAVE   "wave_0468.wav"
IDR_SOUND_104              WAVE   "wave_0469.wav"
IDR_SOUND_106              WAVE   "wave_0470.wav"
IDR_SOUND_107              WAVE   "wave_0471.wav"
IDR_SOUND_111              WAVE   "wave_0472.wav"
IDR_SOUND_18               WAVE   "wave_0727.wav"
IDR_SOUND_21               WAVE   "wave_0728.wav"
IDR_SOUND_24               WAVE   "wave_0729.wav"
IDR_SOUND_108              WAVE   "wave_0730.wav"
IDR_SOUND_37               WAVE   "wave_0732.wav"
IDR_SOUND_29               WAVE   "wave_0407.wav"

IDI_ICON1                  ICON   "icon_0715.ico"
